// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#other{
	
}

#plantwhisperer{
	background-image: url(/assets/Website.png);
	background-repeat: no-repeat;
	background-size:100%;
	height: 1000px;
	border: 1px solid black;
}